<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Azhar Hussain Khan - Resume</title>
  <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
  <div class="container">
    <header>
      {% include 'sections/personal.html' %}
      {% include 'sections/summary.html' %}
    </header>

    <main>
      {% include 'sections/experience.html' %}
      {% include 'sections/projects.html' %}
      {% include 'sections/skills.html' %}
    </main>

    <footer>
      {% include 'sections/education.html' %}
    </footer>
  </div>
</body>
</html>